body { 
    font-family: Arial; 
    padding: 20px; 
    background-color: bisque;
}
li { 
    margin-bottom: 10px; 
}
button { 
    margin-left: 5px; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}